/* CSS COMMUN */
body{
    margin: 0px;
    cursor: url(images/cursor.cur), pointer;
    background-image: url('images/BG1.jpg');
    background-repeat: repeat;
    height: 3000px;
}
.conteneur_principale {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url('images/pixel-stars.gif');
    background-repeat: repeat;
}
a, h1, p {
    color: antiquewhite;
}
.fixed1 {
    position: fixed;
    width: 100%;
}

.entete {
    width: 100%;
    height: 130px;
    background-color: rgba(5, 5, 5, 0.795);
    border-bottom: solid antiquewhite 1px;
    

}
.logo_starwars {
    display: block;
    width: 200px;
    margin: auto;
}

.nav-barre {
    margin: 0;
    padding: 0;
    text-align:center;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.795);
    border-bottom: solid 1px antiquewhite ;

}
.nav-barre ul {
    display:inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: rgba(5, 5, 5, 0.795);
    color: antiquewhite;
    list-style: none;
    margin: auto;
}
.nav-barre ul li {
    margin: 0px;
    padding: 0;
    
}
.nav-barre ul li a:hover {
    color : red; 
    cursor: url(images/cursor.cur), pointer;
}

#en-cours {
    color: rgb(191, 223, 50);
}

.nav-barre a {
	color: antiquewhite;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
    border-left: solid 1px antiquewhite;
    border-right:solid 1px antiquewhite;
    

}
.block-articles {
    padding-top: 180px;
}
.sections {
    display: flex;
    width: 80%;
    height: 300px;
    margin: 10px auto;
    background-color: rgba(5, 5, 5, 0.795);
    border: solid 1px antiquewhite;
    flex-direction: row;
}







.imagesArticles {
    width : 500px;
    height: auto;
    display: block;
    margin: 20px;
}

.paragraphesArticles {
    width: 50%;
    display : block;
    margin : 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto ;
    
}
iframe {
    margin : 0px;
}





/* FIN CSS COMMUN */

/*CSS WALLPAPERS */
.sections-wall {
    display: flex;
    width: 60%;
    height: 30%;
    margin: 10px auto;
    background-color: rgba(5, 5, 5, 0.795);
    border: solid 1px antiquewhite;
    flex-direction: row;
    overflow-x: scroll;

}



.images-wall {
    width : 100%;
    height: 60%;
}

.download1 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
}




/*CSS FORMULAIRE*/

.sections-form {
    display: flex;
    width: 80%;
    height: 600px;
    margin: 10px auto;
    background-color: rgba(5, 5, 5, 0.795);
    border: solid 1px antiquewhite;
   

}


.formulaire-master {
    display : flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border : solid 1px antiquewhite;
}

.formulaire {
    margin : 10px;
}

label {
    color: antiquewhite;
}

#message {
    width: 200px;
    height: 100px;
}



/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 601px) and (max-width: 900px) {
    .sections {
        display: flex;
        width: 500px;
        height: 400px;
        margin: 10px auto;
        background-color: rgba(5, 5, 5, 0.795);
        border: solid 1px antiquewhite;
        flex-direction: column;
        
    }

    .imagesArticles {
        width : 80%;
        height: auto;
        display: block;
        margin-top : 10px;
        margin-left: 40px;
    }
    
    .paragraphesArticles {
        width: 80%;
        display : block;
        margin : 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        overflow-y: auto ;
    }
    .fixed1 {
        position: relative;
        width: 100%;
    }
    .block-articles {
        padding-top: 10px;
    }
    .nav-barre {
        margin: 0;
        padding: 0;
        text-align:center;
        width: 100%;
        background-color: rgba(5, 5, 5, 0.795);
        border-bottom: solid 1px antiquewhite ;
    
    }
    .nav-barre ul {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: rgba(5, 5, 5, 0.795);
        color: antiquewhite;
        list-style: none;
        margin: auto;
    }

}

@media all and (min-width: 200px) and (max-width: 600px) {
    .sections {
        display: flex;
        width: 300px;
        height: 400px;
        margin: 10px auto;
        background-color: rgba(5, 5, 5, 0.795);
        border: solid 1px antiquewhite;
        flex-direction: column;
        
    }

    .imagesArticles {
        width : 80%;
        height: auto;
        display: block;
        margin-top : 10px;
        margin-left: 40px;
    }
    
    .paragraphesArticles {
        width: 80%;
        display : block;
        margin : 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        overflow-y: auto ;
    }
    .fixed1 {
        position: relative;
        width: 100%;
    }
    .block-articles {
        padding-top: 10px;
    }
    .nav-barre {
        margin: 0;
        padding: 0;
        text-align:center;
        width: 100%;
        background-color: rgba(5, 5, 5, 0.795);
        border-bottom: solid 1px antiquewhite ;
    
    }
    .nav-barre ul {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: rgba(5, 5, 5, 0.795);
        color: antiquewhite;
        list-style: none;
        margin: auto;
    }

}